* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  text-align: center;
  font-family: Poppins;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a {
  font-weight: 700;
  color: #232323;
}

h2 {
  font-size: 3rem;
  width: 50%;
  margin: 100px auto;
}

p {
  color: #8E8E8E;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

.container-fluid {
  padding: 3% 7%;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 7%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

nav .nav-logo {
  font-size: 2rem;
  text-align: center;
}

nav .nav-menu {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style-type: none;
}

nav .nav-menu li a {
  text-decoration: none;
}

nav .nav-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5px;
}

nav .nav-item a {
  font-size: 1.2rem;
  font-weight: 600;
}

nav .nav-item a:hover {
  color: #FF9D02;
}

nav .nav-logo-title:hover {
  color: #FF9D02;
}

nav .toggle {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

nav.sticky {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0 5%;
}

/* BUTTONS */
.btn-yellow {
  background-color: #FF9D02;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px;
  border-style: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.btn-del {
  background-color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px;
  border-style: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.btn-yellow:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-transparent {
  color: #FF9D02;
  background-color: transparent;
  border: 2px solid #FF9D02;
}

.btn-cart {
  background-color: #FF9D02;
  padding: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-style: none;
  border-radius: 30px;
}

.big-headings {
  font-size: 5rem;
}

/* TITLE SECTION */
#title {
  margin-top: 200px;
}

#title p {
  margin: 50px 0;
  text-align: left;
}

.title-row {
  text-align: left;
}

.title-image {
  margin-left: 200px;
  width: 80%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* Features section */
#features-section {
  margin-bottom: 300px;
}

.feature-img {
  /* background-color: red; */
  width: 50%;
}

#about-us .about-img {
  width: 100%;
}

#about-us #more-txt {
  display: none;
}

#about-us h3 {
  margin: 70px 0 30px 0;
}

#about-us p {
  margin-bottom: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdb435;
  opacity: 0.9;
}

footer h5 {
  color: #232323;
  font-size: 1.2rem;
  font-weight: 500;
}

footer b {
  font-weight: 300;
}

footer a:hover {
  color: white;
}

footer .logofooter {
  font-size: 1.5rem;
  color: white;
}

footer ul b {
  padding: 20px;
}

.span-title {
  color: #FF9D02;
  background-color: transparent;
}

#sandwich {
  display: none;
}

.admin__table td {
  padding: 5px;
}

.cart-icon {
  border: none;
  background-color: none;
}

.cart-icon:hover {
  background-color: red;
  cursor: pointer;
}

.cart-container {
  display: none;
  position: absolute;
  bottom: -200px;
  right: 0px;
  width: 200px;
  height: 200px;
  background-color: #fdb435;
}

.cart-items__container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;
}

.checkout-container {
  margin-top: 300px;
  margin-bottom: 80vh;
}

@media screen and (max-width: 1095px) {
  p {
    width: 100%;
  }
  .feature-img {
    width: 80%;
  }
  .title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .title-image {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1095px) {
  nav .nav-logo {
    width: 100%;
  }
  nav .nav-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */