* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  text-align: center;
  font-family: Poppins;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: red;
  z-index: 1000;
  padding: 1% 7%;
}

header .logo {
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 2rem;
}

header .logo:hover {
  color: #FF9D02;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 50px;
  padding: 0;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  font-size: 1.1rem;
  font-weight: 600;
}

header ul li a:hover {
  color: #FF9D02;
}

#cart-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header.sticky {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1, h2, h3, h4, h5, h6, a {
  font-weight: 700;
  color: #232323;
}

p {
  color: #8E8E8E;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

a, ul {
  text-decoration: none;
  list-style-type: none;
}

/* BUTTONS */
.btn-yellow {
  background-color: #FF9D02;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px;
  border-style: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.btn-del {
  background-color: red;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px;
  border-style: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

.btn-yellow:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-transparent {
  color: #FF9D02;
  background-color: transparent;
  border: 2px solid #FF9D02;
}

.btn-cart {
  background-color: #FF9D02;
  padding: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  border-style: none;
  border-radius: 30px;
}

.big-headings {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  width: 50%;
  margin: 100px auto;
}

/* NAVBAR  */
/* TITLE SECTION */
#title {
  margin-top: 200px;
}

#title p {
  margin: 50px 0;
  text-align: left;
}

.title-row {
  text-align: left;
}

.title-image {
  margin-left: 200px;
  width: 80%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

/* Features section */
#features-section {
  margin-bottom: 300px;
}

.feature-img {
  /* background-color: red; */
  width: 50%;
}

/* MENU SECTION */
.rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-direction: column;  OVO IDE U MEDIA Q*/
}

.carousel-img {
  max-height: 50%;
  border-radius: 30px 30px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-box {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 30px;
  margin: 2%;
}

.carousel-box h3, .carousel-box .btn-yellow, .carousel-box .ratings {
  margin-top: 25px;
}

.carousel-box:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fas {
  color: #FF9D02;
}

#cart-num {
  display: inline-block;
}

#about-us .about-img {
  width: 100%;
}

#about-us #more-txt {
  display: none;
}

#about-us h3 {
  margin: 70px 0 30px 0;
}

#about-us p {
  margin-bottom: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fdb435;
  opacity: 0.9;
}

footer h5 {
  color: #232323;
  font-size: 1.2rem;
  font-weight: 500;
}

footer b {
  font-weight: 300;
}

footer a:hover {
  color: white;
}

footer .logofooter {
  font-size: 1.5rem;
  color: white;
}

footer ul b {
  padding: 20px;
}

.container-fluid {
  padding: 3% 7%;
}

mark {
  color: #FF9D02;
  background-color: transparent;
}

#sandwich {
  display: none;
}

#menu {
  margin-top: 200px;
}

.cover-admin {
  margin: 0 300px;
}

.product-container-menu {
  margin-left: 200px;
}

.product-container-menu .product-list-content {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-container-menu .product-list-img {
  border: 2px solid #FF9D02;
  border-radius: 20%;
  width: 40%;
}

.product-list-home {
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-list-home img {
  width: 50%;
  border: 2px solid #FF9D02;
  border-radius: 20%;
}

td {
  padding: 5px;
}

.cart-icon {
  border: none;
  background-color: none;
}

.cart-icon:hover {
  background-color: red;
  cursor: pointer;
}

.cart-container {
  display: none;
  position: absolute;
  bottom: -200px;
  right: 0px;
  width: 200px;
  height: 200px;
  background-color: #fdb435;
}

.checkout-container {
  margin-top: 300px;
  margin-bottom: 80vh;
}

@media screen and (max-width: 1095px) {
  #navbar-list {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: flex-end; */
    padding: 0;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #sandwich {
    display: inline-block;
  }
  .rows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  p {
    width: 100%;
  }
  .feature-img {
    width: 80%;
  }
  .title-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .title-image {
    margin-left: 0;
    width: 100%;
  }
  .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=styles.css.map */